<!DOCTYPE html>
<html>

  {% include head.html %}

<!-- nav bar -->

<body>
    <div id="header">
      {% include header.html %}
    </div>


<div class="section-image"><img src="{{page.hero | prepend: site.baseurl }}"alt=""></div>
                    

<div class=row>

  <div class="swim-holes-pages column small-12" id="story">


      <h2 class="hole-heading">{{page.title}}</h2>
      <h5 class="hole-intro">{{page.subhead}}</h5>
    
 
   <article class="post-content">
      {{ content }}
    </article>
   </div> 
</div>

     {% include footer.html %}

 </body>
</html>