<!DOCTYPE html>
<html>

  {% include head.html %}

<!-- nav bar -->

  <body>
    <div id="header">
    	{% include page_header.html %}
    </div>


    <div class="post-page row">
    
      <!-- top row -->    
           <div class="post-left-rail column small-12  medium-4 large-4">
              
              <div class="section-title">
                <h2 class="hole-title">{{page.title}}</h2>
                <h4> #{{page.hashtag}}<h4>
                <h4 class="status">Water level: {{page.water}}</h4>
              </div> 

              <p class="hole-info">All the info:
                <ul>City: {{page.city}}</ul>
                <ul>Location: {{page.location}}</ul>
                <ul>Type: {{page.type}}</ul>
                <ul>Hours: {{page.hours}}</ul>
                <ul>Cost: {{page.cost}}</ul>
                <ul>Dogs: {{page.dogs}}</ul>
                <ul>Kids: {{page.kids}}</ul>
                <ul>Bikes: {{page.bikes}}</ul>
                <ul>Distance to Taco Deli: {{page.taco}}
              </p>

          </div>   

        <div class="post-right-rail column small-12 medium-7 large-7">
            <div class="post-images">
      <!-- image -->
              <img src="{{page.cover_photo_url}}"="{{page.title}}">
      <!-- map -->
            </div>
        </div>
    </div> 
   <!--  <div class="map row">
      <a href="{{page.map}}"><img src="http://maps.googleapis.com/maps/api/staticmap?{% for location in page.locations %}{% if forloop.first %}center={{location}}&markers=color:blue%7C{{location}}{% else %}&markers=color:blue%7C{{location}}{% endif %}{% endfor %}&zoom={% if page.zoom %}{{page.zoom}}{% else %}13{% endif %}&size=2000x150&scale=2&sensor=false&visual_refresh=true" alt=""></a> -->
    
    <div id="map">

    </div>

 

    <!-- instagram -->      
    <div class="instagram-container">
      <div id="instafeed">
      </div>
    </div>

   <!-- more holes -->  
   <div class="more-holes row">
       <h4>Choose another swimmin' hole.</h4>
     {% for post in site.categories.swim%}
        <div class="all-swim-holes column small-6 medium-4 large-3">
          <a href="{{ post.url }}"><img class="hole_thumb_holder" src="{{ post.cover_photo_url }}">
          <h5 class="title">{{ post.title }}</h5>
          </a>
        </div>
      {% endfor %}
  </div>

     {% include footer.html %}


  <script type="text/javascript">

  // instagram 

      var feed = new Instafeed({
          get: 'tagged',
          tagName: '{{page.hashtag}}',
          clientId: 'ba83b3f0946047cdb3f90f1c39dc9958'
          // resolution: '612x612'
      });

      feed.run();

  // map
        google.maps.event.addDomListener(window, 'load', init);
        
            function init() {

    
var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 11,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng({{page.locations}}), // 
        
        styles: [{"featureType":"administrative","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"water","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"visibility":"off"}]},{"featureType":"road.local","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"water","stylers":[{"color":"#84afa3"},{"lightness":52}]},{"stylers":[{"saturation":-17},{"gamma":0.36}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"color":"#3f518c"}]}]
    };

    var mapElement = document.getElementById('map');

                // Create the Google Map using out element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);
            }



      //  $(window).load(function(){
      //   $("#top-bar").sticky({ topSpacing: 0 });
      // });

  </script>

  </body>
</html>